{% extends 'base.html' %}
{% block title %}Offres

{% endblock %}
{%block subtitle%}
<div class="row align-items-center">
    <div class="col-md-8 textcenter">
            <a href="{% url 'afficheProduitsDispo' %}">
                <button class="btn btn-success  btn-block">

{% if typeFiltre == "producteur" %}
    Produits de {{filtre}}  <style="font-size:small"> &nbsp;({{ produits_list|length }})</style>
    <div class="btn-group">
    <button class="btn btn-primary" href="{% url 'afficheProduitsDispo_categorie' categorie='aliment' %}">Aliment
    </button>
    </div>
    {%else%}
            Les produits du marché
            <style="font-size:small"> &nbsp;({{ produits_list|length }})</style></button>
    {%endif%}
        </a>
{% if typeFiltre != "producteur" %}
        <div class="btn-group">
             {% if filtre == None %}
            <a href="{% url 'afficheProduitsDispo' %}">
                <button class="btn btn-primary">Tout </button>
            </a>
            {%else%}
            <a href="{% url 'afficheProduitsDispo'%}">
                <button class="btn">Tout</button>
            </a>
            {%endif%}
             {% if filtre == "aliment"%}
            <a href="{% url 'afficheProduitsDispo_categorie' categorie='aliment' %}">
                <button class="btn btn-primary">Aliment </button>
            </a>
            {%else%}
            <a href="{% url 'afficheProduitsDispo_categorie' categorie='aliment' %}">
                <button class="btn">Aliment</button>
            </a>
            {%endif%}
            {% if  filtre == "vegetal"%}
            <a href="{% url 'afficheProduitsDispo_categorie' categorie='vegetal' %}">
                <button class="btn btn-primary">Végétal</button>
            </a>
            {%else%}
            <a href="{% url 'afficheProduitsDispo_categorie' categorie='vegetal' %}">
                <button class="btn">Végétal</button>
            </a>
            {%endif%}
            {% if filtre == "service"%}
            <a href="{% url 'afficheProduitsDispo_categorie' categorie='service' %}">
                <button class="btn btn-primary">Service</button>
            </a>
            {%else%}
            <a href="{% url 'afficheProduitsDispo_categorie' categorie='service' %}">
                <button class="btn">Service</button>
            </a>
            {%endif%}
            {% if filtre == "objet"%}
            <a href="{% url 'afficheProduitsDispo_categorie' categorie='objet' %}">
                <button class="btn btn-primary">Objet</button>
            </a>
            {%else%}
            <a href="{% url 'afficheProduitsDispo_categorie' categorie='objet' %}">
                <button class="btn">Objet</button>
            </a>
            {%endif%}
        </div>
            {%endif%}
    </div>
    <div class="col-md-4 textcenter">
        <a href="{% url 'proposerProduit_entree' %}">
            <button type="button" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>&nbsp; Ajouter une offre
            </button>
        </a>
    </div>
</div>
{%endblock subtitle%}
{% block content %}
<div class="row ">
    {% for produit in produits_list %}
    <div class="col-sm-3 col-lg-3 offre d-flex flex-column justify-content-between " style="background-color:{{ produit.couleur }}">
        <div class="row extratest">
        <div class="col-sm-12">
        <a href="{% url 'detailProduit' produit.id %}" >
            <div class="thumbnail">
                <img src="{{ produit.pĥoto.url }}" class="img-responsive">
            </div>
            <div class="caption textcenter ">
                <small> ({{ produit.souscategorie }})</small>
                <h2>{{ produit.nom_produit|truncatechars:12 }} </h2>
                <p> {{ produit.description|truncatechars:80 }}</p>
            </div>
        </a>
        </div>
        </div>
        <div class="row align-items-end">
        <div class="col-sm-12 textcenter">
                <a href="{% url 'detailProduit' produit.id %}" class="btn btn-primary btn-sm"
                   role="button">voir en détail...</a>
            </div>
        </div>
    </div>
    {% cycle '' '' '' '<div class="clearfix visible-lg"></div>' %}

    {% endfor %}
</div>


{% endblock %}
