{% extends 'base.html' %} 
{% block title %}Profil de {{ user.username }} {% endblock %}
{% block subtitle %}
Profil de {{ user.username }}
{% endblock %}
{% block content %}
<ul>
  {% if user.get_full_name %}
  <li>Utilisateur: {{ user.get_full_name }}</li>
  {% endif %}

  <li>Description: {{ user.profil.description }}</li>
  {% if user.profil.avatar %}
  <li>avatar: {{ user.profil.avatar }}</li>
  {%endif%}
  {% if user.profil.site_web %}
  <li>site_web: {{ user.profil.site_web }}</li>
  {%endif%}
  <li>inscrit_newsletter: {{ user.profil.inscrit_newsletter }}</li>
  <li>date adhésion: {{ user.profil.date_registration }}</li>
</ul>
<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
<script>
function myMap() {
    var mapOptions = {
        center: new google.maps.LatLng(51.5, -0.12),
        zoom: 10,
        mapTypeId: google.maps.MapTypeId.HYBRID
    }
var map = new google.maps.Map(document.getElementById("map"), mapOptions);
}
</script>
<div id="map" style="width:400px;height:400px;"></div>
{% endblock %}

    