{% extends 'base.html' %}
{% load app_filters %}
{% block title %}Partager{% endblock %}
{% block subtitle %}
<style>.soustitre,.bodycontenu{background-color: {{ bgcolor }};}</style>
Quel {{ typeProduit }} proposez-vous ?

{% endblock %}
{% block content %}

<div class="row-sm-12 row-lg-6 mx-auto">
    <form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    {% if form2 %}
        {{ form2.as_table }}
    {%endif%}

    </table>
        <div class="btn-group">
            <button onclick="window.history.back();" class="btn btn-warning" type="button">Annuler</button>
                <button type="submit" class="btn btn-success textcenter btn-lg btn-block">Offrir</button>
        </div>
</form>
</div>

{% endblock %}

{% block comment %}{% endblock %}