{% extends 'base.html' %}
{% block title %}Offres

{% endblock %}
{%block subtitle%}
<div class="row">
    <div class="col ">
        Dans "{{categorie}}"

    </div>
    <div class="col textright">
        <a href="{% url 'proposerProduit_entree' %}">
            <button type="button" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>&nbsp; Ajouter une offre
            </button>
        </a>
    </div>
</div>
{%endblock subtitle%}
{% block content %}
<div class="row">
    {% for produit in produits_list %}
    <div class="col-sm-3 col-lg-3" >
        <a href="{% url 'detailProduit' produit.id %}">
            <div class="thumbnail">
                <img src="{{ produit.pĥoto.url }}" class="img-responsive">
            </div>
            <div class="caption textcenter ">
                <h2>{{ produit.nom_produit }} {{ produit.detail_categorie }}</h2>

                <a href="{% url 'detailProduit' produit.id %}" class="btn btn-primary btn-sm"
                   role="button">Details...</a>
            </div>
        </a>
    </div>
    {% cycle '' '' '' '<div class="clearfix visible-lg"></div>' %}

    {% endfor %}
</div>


{% endblock %}
