body {
    /*#background-color: #9999ff ;
    #9999ff url("../images/background.png");%url("../images/background.png");*/
    background: #E9E9E9;
    margin: auto;
    width: 97%;
    /*padding: 10px;*/
    padding-top: 80px;
    /*font-family: cursive;*/
    font-family: serif;
    /*font-family: system-ui;*/
}
.textcenter{
    text-align: center;
}
.textright{
    text-align: right;
}
.textmiddle{
    vertical-align:middle;
}
ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}
.row{
    margin-right: 15px;
    margin-left: 15px;
    padding: 5px;
}
/*
.breadcrumb span, .breadcrumb div {display:inline-block!important; float:right!important}*/
.breadcrumbs{
    text-align:center;
}
.navbar {
    border-radius: 0.4em;
    border: 2px solid #053200;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:#4d9900;

}

.navbar-brand {
    font-family: 'Satisfy', cursive;
}

.contenu{
    /*margin-top: 2em;*/
    margin-bottom: 2em;
    border-radius: 0.4em;
    padding: 10px 10px 10px 10px;
}
/*
.glyph  icon-star {
    color: #CCCCCC;
    font-size: 16px;
}

.glyphicon-star.active {
    color: #FDB230;
}*/
.paddingbase{
    padding: 10px 10px 10px 10px;
}

.soustitre{
    padding: 5px;
    border-radius: 0.4em;
    /*rder: 1px solid #053200;*/
    border:10px red;
}

.bodycontenu{
    padding-bottom: 2em;
    border-radius: 0.4em;
    /*border: 0.5px solid #053200;*/
    padding: 10px ;
}
.bodycontenucomplet{
    padding: 10px ;
    border-radius: 0.4em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 500px;
    border: 0.5px solid #053200;
    }

#parent {
    text-align:center;
    background-color:blue;
    height:400px;
    width:600px;
}
.block {
    height:100px;
    width:200px;
    text-align:left;
}
.center {
    margin:auto;
    background-color:green;
}
.left {
    margin:auto auto auto 0;
    background-color:red;
}
.right {
    margin:auto 0 auto auto;
    background-color:yellow;
}
.infos{
    font-size:small;
}

.col_cat{
    padding: 25px;
    margin:5px;
    border:1px ;
    width:400px;
    border:2px grey solid;
    border-radius: 0.4em;
    flex:1 1 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.col_cat a:link, a:visited {
    color: black;
    text-decoration: none;
}

.col_cat:hover{
    opacity:0.85;
    border-radius: 1em;
    box-shadow: 0 10px 10px 0px grey;
    text-decoration: none;
}
.col_aliment{
   /* border-left: 6px solid #CEECF5;*/
    color: black;/*#6666ff*/
}
.col_vegetaux{
    color: black;/*
    text-color: #A9F5A9*/
}
.col_services{
    color: black;/*
    text-color: #D8D8D8*/
}
.col_objets{
    color: black;
    /*
    text-color: #0055FE*/
}*/

.row .col-xs-2, .row .col-xs-10{display:inline-block; float: none}

.tablecustom{
    background-color:grey;
}

.tablepanier{
    background-color:#87ceeb;
}
.tableprofils{
    background-color: #ffffcc;
}

.offre_entree{
    padding-bottom:5px;
    border-radius: 0.3em;
    align-items: top;
    margin:5px;  /* and that, will result in a 10px gap */
    border:1px red solid;
}
.offre_entree:hover{
    opacity:0.85;
    border-radius: 1em;
    box-shadow: 0 10px 10px 0px grey;
}
.offre{
    border-radius: 0.3em;
    padding-bottom:5px;
    align-items: top;
    height: 250px;
    width:300px;
    border:1px grey solid;
    flex:1 1 auto;
    text-align:center;
    margin:5px;  /* and that, will result in a 10px gap */
}

.offre:hover{
    opacity:0.85;
    border-radius: 1em;
    box-shadow: 0 10px 10px 0px grey;
    text-decoration: none;
}

.listOffres{
    display: flex ;
    flex-flow: row wrap;
    justify-content: center;
    display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
    padding:5px;
}

.detailProduit{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}