
{% block navBar %}

    <nav class="navbar  navbar-expand-md fixed-top ">
        <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsActuel" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span><span class="navbar-toggler-icon"></span><span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand  mb-0" href="{% url 'bienvenue' %}"> MercatLliure </a>
        </div>
        <div class="collapse navbar-collapse" id="navbarsActuel">
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav mr-auto navbar-left">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'produit_lister' %}">Propositions <span class="sr-only">(current)</span></a></li>
                    <li class="nav-item active"><a class="nav-link" href="{% url 'produit_proposer_entree' %}">Proposer</a></li>
                    <li>
                <form class="form-inline my-2 my-lg-0" action="{% url 'chercher' %}" method="get">
                    {% csrf_token %}
                    <input class="form-control mr-sm-2" name="id_recherche" placeholder="Chercher un produit..." type="text">
                    <button class="btn btn-info my-2 my-sm-0" type="submit" >...</button>
                </form>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'blog:accueil' %}">Blog</a> </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'haystack_search' %}"> ?</a></li>
                </ul>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'profil_courant' %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     profil: {{request.user}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="nav-link" href="{% url 'profil_courant' %}">Voir le profil</a>
                        <a class="nav-link" href="{% url 'panier_afficher' %}">Voir le panier</a>
                        <a class="nav-link" href="{% url 'logout_user' %}">logout</a>
                    </div>
                  </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'profil_courant' %}" id="navbarAbout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     A propos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarAbout">
                        <a class="nav-link" href="{% url 'profil_list' %}"> Les coopérateurs</a>
                        <a class="nav-link" href="{% url 'contact' %}"> Contact </a>
                        <a class="nav-link" href="{% url 'charte' %}"> Charte </a>
                        <a class="nav-link" href="{% url 'fairedon' %}"> Faire un don</a>
                    </div>
                  </li>
                    {% if user.is_superuser %}
                    {% load admin_urls %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">admin</a></li>
                    {% endif %}
                </ul>
            {% else %}
                <ul class="nav navbar-nav mr-auto navbar-left">
                <li class="nav-item"><a class="nav-link" href="{% url 'login_user' %}">login</a></li>
                </ul>
                {% endif %}
        </div>
    </nav>
{% endblock %}