{% extends 'blog/baseBlog.html' %}
{% block subtitle %}
<div class="row">
    <div class="col-md-10">
        <p class="infos ">Dans: <a href="{% url 'blog:accueil'  %}?categorie={{article.categorie}}">{{ article.get_categorie_display }}</a>, rédigé par <a href="{% url 'profil' article.auteur.id %}"> {{ article.auteur.user.username }}</a>, le {{ article.date|date:"DATE_FORMAT" }}</p>
    </div>
    <div class="col-md-2">
        <a  href="{% url 'blog:accueil'  %}">
        <button class="btn btn-info textright" >Retour au sommaire</button>
            </a>
    </div>
</div>

{% endblock %}
{% block content %}
<div class="contenu article">
<div class="row" >
      <h3 style="text-indent: 20px;">  {{ article.titre }}</h3>
</div>
<div class="row">
    {{ article.contenu }}
</div>
</div>

{% if commentaires %}
<hr>
<div>
<h3>Commentaires</h3>
<ol>
{% for comment in commentaires %}
        <li><p>Posté par: {{ comment.auteur.username }}, le {{ comment.date_creation }} </p>
<div class=" commentaire">
        <h5 style="text-indent: 20px;">{{ comment.titre }}</h5>
        <p>{{ comment.commentaire }}</p>
</div>
{% endfor %}
</ol>
</div>
{% endif %}


{% if form %}
<hr>
<div>
<h4 class="form-group">Laisser un commentaire :</h4>
<form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %} 
    <input type="hidden" name="Commentaire"
        value="{{ commentaire }}"> {% include 'form_template.html'%}
    <div class="form-group textright">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Poster</button>
        </div>
    </div>
</form>
</div>
{% endif %}

{% endblock %}